
<div class="container-fluid bg-dark text-white text-center mt-5" id="footer">
  <div class="row">
    <div class="col-sm-4">
      <h5 class="">About RIDEX<i class="fa fa-shopping-cart"></i></h5>
   <p>We are number one online market place where members of the public can buy and sell.</p>
    </div>
     <div class="col-sm-4" id="foot2">
      <h5 class="">Quick Links</h5>
      <a href="/disclaimer">Disclaimer</a>
        <a href="">Privacy Policy</a>
         <a href="">Site Map</a>
      <a href="">Company</a>

    </div>
     <div class="col-sm-4" id="foot3">
      <h5>Contact</h5>
      <p>247 customer service </p>
      <p>090ridex</p>
      <p>ridex@gmail.com</p>
    </div>
  </div>
   <p class="mt-3">ridex &copy; 2021. All rights reserved. Designed by <span class="des">Destech </span></p>
</div>
